.header {
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    padding: 4px;
}

.navigation {
    display: flex;
    list-style: none;
}
.li {
    padding-right: 10px;
}

.navigation a:hover {
    color: #f0f0f0;
    text-decoration: underline;
}