* {
    box-sizing: border-box;
}

body {
    padding: 100px;
    max-width: 800px;
    margin: 0 auto;
    color:aliceblue;
    background: #000;
}

a{
    color: inherit;
    text-decoration: none;
}